@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";
@import "@styles/components/button.module.scss";

#container {
	@include flex-container(row, nowrap, center, center);
	padding: 20px 7% $nav-bar-height;
	gap: 60px;
	height: calc(100vh - $nav-bar-height);

	@media (max-width: $bp-lg) {
		@include flex-container(column, nowrap, center, flex-start);
	}


	section {

		@include flex-container(column, nowrap, flex-start, stretch);
		gap: 15px;

		h1 {
			@include hero-text-regular;
			color: $primary;
		}

		p {
			@include text-md-regular;
			color: $primary-400;
			margin-bottom: 15px;
		}

		.links {
			@include flex-container(row, nowrap, flex-start, stretch);
			gap: 15px;

			.primaryLink, .secondaryLink {

				@extend .button;
				@extend .active;
				@extend .animateOnHover;
				@extend .withPadding;
			}

			.primaryLink {
				@extend .primary;
			}

			.secondaryLink {
				@extend .secondary;
			}
		}

	}

	.illustrationContainer {
		position: relative;
		width: 100%;
		min-width: 200px;
        max-width: 360px;
		aspect-ratio: 1.193;
	}

}