@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";


.header {
    @include flex-container(row, nowrap, space-between, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: $nav-bar-height;
    padding: 0 2.5vw;

    .logoContainer {
        @include flex-container(row, nowrap, center, center);
        gap: 20px;
        color: $primary;

        svg {
           font-size: 2rem; 
        }

        p {
            @include text-md-semibold;
        }

    }

    nav {

        ul {
            @include reset-list;
            @include flex-container(row, nowrap, flex-start, center);
            gap: 30px;

        }
    }

}