@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";


.header {
    @include flex-container(row, nowrap, space-between, center);
    position: sticky;
    z-index: 10000;
    top: 0;
    left: 0;
    min-width: 100vw;
    width: fit-content;
    height: $nav-bar-height;
    padding: 0 2.5vw;
    background: #f4f7ff;

    .logoContainer {
        @include flex-container(row, nowrap, center, center);
        @include text-md-medium;
        gap: 20px;
        color: $primary;

        svg {
           font-size: 2rem; 
        }

    }

    nav {

        ul.navList {
            @include reset-list;
            @include flex-container(row, nowrap, flex-start, center);
            gap: 30px;

        }
    }

}