
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/components/button.module.scss";

#upcomingPeriodicTasks {

    @include flex-container(column, nowrap, center, center);
    gap: 15px;
    width: 100%;

    .sectionTitle {
        @include flex-container(row, nowrap, space-between, center);
        gap: 15px;
        width: 100%;
        height: fit-content;

        h4 {
            @include text-md-medium;
            color: $black-400;
        }

        p {
            @include flex-container(row, nowrap, space-between, center);
            gap: 15px;
            margin: 0;

            span {
                @include text-md-medium;
                color: $black-400;
            }
            
            a {
                @extend .button;
                @extend .active;
                @extend .animateOnHover;
                @extend .bigBorderRadius;
                @extend .withPadding;
    
    
                @include make-tertiary-button($primary, $primary-600, $primary-100);
            }
        }
    }

    ul {
        @include reset-list;
        @include flex-container(column, nowrap, flex-start);
        width: 100%;

        li {
            width: 100%;

            a {
                @include flex-container(row, nowrap, space-between, center);
                width: 100%;
                gap: 15px;
                padding: 10px;
                border-bottom: 1px solid $primary-100;

                transition: all 200ms ease-in-out;

                span {
                    @include text-md-medium;

                    &.label {
                        color: $success;
                    }

                    &.date {
                        @include flex-container(row, nowrap, center, center);
                        gap: 10px;
                        color: $primary;
                    }
                }
            }

            &:hover a {
                cursor: pointer;
                background: $primary-100;
            }

            &:first-child a {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child a {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border: none;
            }

        }
    }

    .noResult {
        @include flex-container(column, nowrap, center, center);
        gap: 15px;
        width: 100%;

        .illustrationContainer {
            position: relative;
            width: 90px;
            height: 90px;
        }

        p {
            @include text-md-medium;
            color: $primary-400;
        }
    }


}