@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";


#container {
	@include flex-container(column, nowrap, flex-start, stretch);
	padding: $nav-bar-height + 20px 7% $nav-bar-height;
	gap: 40px;

	#searchSection {
		
		@include flex-container(column, nowrap, center, center);
		padding: 60px 0;
		gap: 40px;
		
		#greeting {

			@include flex-container(column, nowrap, center, center);
			gap: 15px;
	
			h1 {
				@include header-2-medium;
				color: $primary;
			}
	
			p {
				@include text-md-medium;
				color: $primary-600;
			}
		}

		form {
			width: 100%;
		}
	}

	#infoContainer {
		flex: 1;
		@include flex-container(column, nowrap, flex-start, stretch);
		gap: 30px;

	}

}


