@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";

#container {
    @include flex-container(row, nowrap, flex-start, stretch);
	padding: $nav-bar-height + 20px 7% $nav-bar-height;
	background: $primary-100;
	gap: 40px;

	form {
		flex: 1;
		width: 100%;
	}

}