@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";
@import "@styles/components/button.module.scss";

#container {
	@include flex-container(column, nowrap, flex-start, stretch);
	padding: 20px 7% $nav-bar-height;
	gap: 30px;
    min-height: calc(100vh - $nav-bar-height);


    .pageHeader {
        @include flex-container(column, nowrap, flex-start, stretch);
        gap: 10px;
        
        h1 {
            @include header-2-regular;
            color: $primary;
        }

        p {
            @include text-md-regular;
            color: $primary-400;
        }
    }

    .sectionContainer {
        @include flex-container(row, nowrap, center, stretch);
        flex: 1;
        gap: 30px;

        ul.categories {
            @include reset-list;
            @include flex-container(column, nowrap, flex-start, flex-start);
            height: 100%;

            position: sticky;
            top: $nav-bar-height;
            background: #f4f7ff;

            li {
                @extend .button;
                @extend .withPadding;
                @extend .animateOnHover;
                @extend .active;
                @extend .bigPadding;
                @include make-tertiary-button($primary, $primary-600, $primary-100);

                width: 100%;
                justify-content: flex-start;

                border-radius: 0px 30px 30px 0px;

                &:hover {
                    padding: 15px 20px !important;
                }

                &.selected {
                    background: $primary-100;
                }
            }
        }

        section {
            @include flex-container(column, nowrap, flex-start, center);
            flex: 1;
            gap: 15px;

            .searchForm {
                @include flex-container(column, nowrap, flex-start, flex-start);
                width: 100%;
                gap: 15px;
                position: sticky;
                top: $nav-bar-height;
                background: #f4f7ff;
                z-index: 100;

                .row {
                    @include flex-container(row, nowrap, space-between, center);
                    gap: 15px;
                    width: 100%;

                    .searchBar {
                        box-shadow: none;
                        background: $white;
                        min-width: 300px;
                    }

                    .viewModeContainer {
                        @include flex-container(row, nowrap, flex-start, center);
                        gap: 10px;
        
                        button {
                            border: 2px solid $primary-100;
        
                            &:hover {
                                border: none;
                            }
        
                            &.selected {
                                border: none;
                                background: $primary-100;
                            }
                        }
    
                    }

                    .createButton {
                        margin-left: auto;
                    }
                }

            }

            ul.results {
                @include reset-list;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                justify-items: center;
                align-items: start;
                flex: 1;
                gap: 30px;
                height: 100%;
                width: 100%;

                &.listView {
                    border-radius: 10px;
                    @include flex-container(column, nowrap, flex-start, stretch);
                    gap: 0px;
                
                    & li:first-child {
                        border-radius: 5px 5px 0px 0px;
                    }
        
                    & li:last-child {
                        border-radius: 0px 0px 5px 5px;
                        border: none;
                    }
                
                }
            }

            .loadingIndicatorContainer {
                @include flex-container(column, nowrap, center, center);
                height: 100%;
        
                gap: 60px;
        
                h4 {
                    @include header-4-regular;
                    color: $primary;
                }
        
            }
        
        
            .noResultsMessageContainer {
        
                @include flex-container(column, nowrap, center, center);
                gap: 30px;
                height: 100%;
        
                .illustrationContainer {
                    position: relative;
                    width: 100%;
                    max-width: 500px;
                    aspect-ratio: 1.226;
                }
        
        
                h1 {
                    @include header-2-regular;
                    color: $primary;
                    text-align: center;
                }
        
                p {
                    @include text-md-regular;
                    color: $primary-600;
                    text-align: center;
                }
            }
        }

    }

}