@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";


.hr {
    width: 100%;
    min-height: 2px;
    height: 2px;
    border: none;

    background: $primary-100;

}