@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

li.container {

    @include flex-container(column, nowrap, flex-start);
    gap: 15px;

    width: 100%;
    padding: 15px;

    border: 1px solid $primary-100;
    border-radius: 10px;

    transition: all 0.2s ease-in-out;

    h4 {
        @include header-4-medium;
        color: $primary;
    }

    ul {
        @include reset-list;
        @include flex-container(row, wrap, flex-start, center);
        gap: 15px;

        li {
            @include text-sm-medium;
            color: $primary-600;
        }
    }

    hr.verticalSeparator {
        border: none;
        width: 2px;
        height: 1rem;
        background: $primary-100;
        margin: 0;
    }

    .buttonsContainer {
        @include flex-container(row, nowrap, flex-end, center);
        gap: 15px;

        .deleteButton {
            border: 1px solid $error-100;
        }
    }

    &.selectMode {

        &:hover {
            cursor: pointer;
            @extend .selected;
        }

        &.selected {
            border: 1px solid $primary;
            background: $primary-100;
        }
    }

}

.formContainer {
    width: 100%;
}