
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

@mixin button-styler ($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
}

@mixin make-primary-button($main-color, $main-color-faded) {

    @include button-styler($main-color-faded, $white);

    &.active {
        @include button-styler($main-color, $white);
        
        &.animateOnHover:hover {
            @include spread-shadow-colored($main-color);
        }
    }
}


@mixin make-secondary-button($main-color, $main-color-faded, $main-color-background) {

    @include button-styler($main-color-background, $main-color-faded);

    &.active {

        @include button-styler($main-color-background, $main-color);

        &.animateOnHover:hover {
            background: rgba($main-color, 0.2);
        }

    }

} 

@mixin make-tertiary-button($main-color, $main-color-faded, $main-color-background) {

    @include button-styler(none, $main-color-faded);

    &.active {

        @include button-styler(none, $main-color);

        &.animateOnHover:hover {
            &:not(.bigPadding) {
                padding: 8px 16px;
            }
            background: $main-color-background;
        }

    }

}

.button {
    @include reset-button;
    @include flex-container(row, nowrap, center, center);
    @include button-text;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    border-radius: 8px;

    &:not(.active) {
        cursor: not-allowed;
    }

    &.primary {

        @include make-primary-button($primary, $primary-600);

        &.success {

            @include make-primary-button($success, $success-600);

        }

        &.progress {

            @include make-primary-button($secondary, $secondary-600);

        }

        &.danger {

            @include make-primary-button($error, $error-600);

        }

        &.discouraged {

            @include make-primary-button($black-400, $black-100);

        }

    }

    &.secondary {

        @include make-secondary-button($primary, $primary-600, $primary-100);

        &.success {

            @include make-secondary-button($success, $success-600, $success-100);

        }

        &.progress {

            @include make-secondary-button($secondary, $secondary-600, $secondary-100);

        }

        &.danger {

            @include make-secondary-button($error, $error-600, $error-100);

        }

        &.discouraged {

            @include make-secondary-button($black-400, $black-100, rgba($black, 0.05));

        }
        
    }

    &.tertiary {

        @include make-tertiary-button($primary, $primary-600, $primary-100);

        &.success {

            @include make-tertiary-button($success, $success-600, $success-100);

        }

        &.progress {

            @include make-tertiary-button($secondary, $secondary-600, $secondary-100);

        }

        &.danger {

            @include make-tertiary-button($error, $error-600, $error-100);

        }

        &.discouraged {

            @include make-tertiary-button($black-400, $black-100, rgba($black, 0.05));

        }

    }

    &.bigBorderRadius {
        border-radius: 30px;
    }

    &.hasBorders {
        border: 1px solid $primary-200;

        &.success {
            border-color: $success-200;
        }

        &.progress {
            border-color: $secondary-200;
        }

        &.danger {
            border-color: $error-200;
        }

        &.discouraged {
            border-color: $black-200;
        }


    }

    &.withPadding {

        padding: 8px 16px;
    }

    &.bigPadding {
        padding: 16px 24px;
    }

    &.fullWidth {
        width: 100%;
    }
}