
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

.container {

    @include flex-container(row, nowrap, center, center);
    width: 100px;
    height: 20px;
    gap: 10px;

    position: relative;

    .dropdown {
        @include reset-list;
        z-index: 999;
        position: absolute;
        width: 100%;

        background: $white;

        box-shadow: 0px 30px 60px $primary-400;


        overflow: hidden;

        &.hidden {
            display: none;
        }

        li {
            @include button-text;
            padding: 5px;
            width: 100%;
        }
    }


    &:hover {
        cursor: pointer;
    }

}