
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";

#container {

    @include flex-container(column, nowrap, flex-start, flex-start);
    background: $white;

    width: 500px;

    gap: 30px;
    padding: 20px 30px;

    border-radius: 10px;

    box-shadow: 0px 30px 60px $primary-200;

    transition: all 300ms ease-in-out;

    &.hidden {
        width: 0px;
        padding: 20px 0px;
        margin-right: -40px;
        opacity: 0;
        transform: scale(0);
    }

    h4 {
        @include text-md-medium;
        color: $primary-600;
    }

    form {
        @include flex-container(column, nowrap, flex-start, flex-start);
        width: 100%;
        height: fit-content;
        gap: 30px;
        padding: 0px;
        margin: 0px;
    
        .filtersContainer {
            @include flex-container(column, nowrap, flex-start, flex-start);
            width: 100%;
            // make sure it never overflows from the body
            max-height: calc(100vh - calc($nav-bar-height + 280px));
    
        }
    
        .submitButton {
            margin-top: auto;
        }
    }

}