@import "@styles/base/_mixins.scss";
@import "@styles/abstracts/_colors.module.scss";


.container {

    position: fixed;
    top: 0;
    left: 0;
    @include flex-container(column, nowrap, center, center);
    width: 100vw;
    height: 100vh;
    z-index: 500;

    background: $black-100;
    backdrop-filter: blur(5px);


}