
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";


.modal {

    @include flex-container(column, nowrap, center, center);
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
    background: $white;

    max-height: 90vh;
    max-width: 90vw;

    h3 {
        @include header-3-semibold;
        text-align: center;
        color: $success;
        width: 100%;
    }
    
    .headerCaption {

        @include flex-container(row, nowrap, center, center);
        gap: 10px;

        p {
            @include flex-container(row, nowrap, center, center);
            gap: 10px;
            @include text-md-regular;
            color: $success-600;

            span {
                @include text-overflow-ellipsis;
                max-width: 150px;
            }
        }

        .dot {
            width: 5px;
            height: 5px;
            color: $success-600;
        }

    }


    ul {
        @include reset-list;
        @include flex-container(row, nowrap, flex-start, center);
        gap: 30px;
        padding: 30px 15px;

        width: 100%;
        height: 100%;
        
        overflow-y: scroll;
        scrollbar-width: initial;
        -ms-overflow-style: initial;

        position: relative;

        .timeline {
            z-index: 0;
            color: transparent;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: 0px;
            right: 0px;
            border-radius: 30px;

            background: $success-600;
        }

    }


}