@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

.container {

    @include flex-container(row, nowrap, flex-start, center);
    gap: 16px;

    .illustrationContainer {
        position: relative;
        width: 48px;
        height: 48px;
    }

    .userInfo {

        @include flex-col-nowrap;

        h5 {
            @include text-md-semibold;
            color: $black;
        }

        p {
            @include text-sm-medium;
            color: $black-400;
        }
    
    }
    
}