@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

.fieldContainer {
    @include flex-col-nowrap;
    gap: 10px;
    width: fit-content;

    &.fullWidth {
        width: 100%;
    }
}