
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";

#searchBarContainer {

    @include flex-container(row, nowrap, center, center);
    width: 50vw;
    height: 60px;
    padding: 10px 30px;
    gap: 10px;
    position: relative;

    background: $white;
    border-radius: 10px;
    box-shadow: 0px 30px 60px $primary-200;
    
    &.fullWidth {
        width: 100%;
    }

    // search icon

    svg {
        @include button-text;
        width: 14px;

        &.icon {
            color: $primary-600;
        }
    }

    #textInput {
        @include reset-form-input;
        background: none;
        @include text-md-medium;
        color: $primary;
        flex: 1;
        width: 100%;

        &::placeholder {
            @include text-md-medium;
            color: $primary-600;
        }

    }

    .embeddedFilters {
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        height: fit-content;
        max-height: calc(90vh - $nav-bar-height);
        z-index: 100;
        // box-shadow: 0px 60px 120px $primary-200;
    }

}