@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";

.submitButton {
    @include reset-button;
    @include button-text;
    width: fit-content;
    padding: 10px 20px;
    background: $primary;
    border-radius: 5px;
    color: $white;

    &.bigPadding {
        padding: 15px 20px;
    }

    &.fullWidth {
        width: 100%;
    }

    &:hover {
        transform: scale(1.1);
        @include spread-shadow-primary;
    }

    input {
        @include reset-button;
        @include button-text;
        color: $white;
    }
}

div.submitButton {
    @include flex-container(row, nowrap, center, center);
    gap: 10px;
}