@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.scss";


.textInput {
    @include reset-form-input;
    @include text-sm-regular;
    color: $primary;
    background: $primary-100;
    width: $input-width;

    padding: 10px 20px;
    border-radius: 5px;

    &::placeholder {
        color: $primary-600;
    }

    &.bigPadding {
        padding: 20px;
    }

    &.fullWidth {
        width: 100% !important;
    }

    &.error {
        @include error-state;
    }

    resize: vertical;   
}

.textInput:-webkit-autofill {
    -webkit-text-fill-color: $primary !important;
}