@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.module.scss";
@import "@styles/abstracts/_colors.module.scss";

.form {

    @include flex-container(column, nowrap, flex-start);
    gap: 15px;

    width: 100%;
    padding: 15px;

    // border: 1px solid $primary-100;
    border-radius: 10px;

    box-shadow: 0px 15px 30px $primary-200;

    .buttonsContainer {
        @include flex-container(row, nowrap, flex-end, center);
        gap: 15px;
    }

}