@import "~@fontsource/josefin-sans/latin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* rem trick */

html {
	font-size: 62.5%;
	background: #FFF;
}

body {
	font-size: 1.6rem;
	background: rgba(41, 98, 255, 0.05); 
}

html, body, div#__next {
	min-height: 100vh;
	height: fit-content;
	min-width: 100vw;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Josefin Sans';
}


div#__next {
	padding-bottom: 64px;
}

div#__next main {
	width: 100%;
	/* height: calc(100vh - $nav-bar-height); */
}