@import "~@fontsource/josefin-sans/latin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* rem trick */

html {
	font-size: 62.5%;
	background: #FFF;
}

body {
	font-size: 1.6rem;
	background: rgba(41, 98, 255, 0.05); 
}

html, body, div#__next {
	min-height: 100vh;
	height: fit-content;
	min-width: 100vw;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Josefin Sans';
}

div#__next {
	@apply flex flex-col;
}

div#__next main {
	width: 100%;
}

div#__next main:not(#main-login) {
	padding-bottom: 64px;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}